/assets
/kernel
/rootfs
/mocks/*/*.o
/mocks/*/*.so
/docker/system/rootfs
*.bin
/analysis/emba/default-scan-unpacked-fw/*
!/analysis/emba/default-scan-unpacked-fw/html-report
.venv
*.gdb
target

.DS_Store