<!-- 
EMBA - EMBEDDED LINUX ANALYZER

Copyright 2020-2023 Siemens AG
Copyright 2020-2023 Siemens Energy AG

EMBA comes with ABSOLUTELY NO WARRANTY. This is free software, and you are
welcome to redistribute it under the terms of the GNU General Public License.
See LICENSE file for usage of this software.

EMBA is licensed under GPLv3

Author(s): Pascal Eckmann
Contributor(s): Michael Messner, Stefan Haboeck
-->

<!-- Used icons: https://github.com/CoreyGinnivan/system-uicons -->
 
<!DOCTYPE html>
<html lang="en">
<head>
  <title>EMBA firmware report</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./../style/style.css" type="text/css">
  <link rel="icon" type="image/png" href="./../style/favicon.png">
</head>
<body>

<div id="sidenav" class="side">
  <div id="logo">
    <a class="inherit" href="./../index.html"><img class="inherit" id="logoImage" src="./../style/emba.svg" alt="logo"></a>
  </div>
  <div id="nav">
      <a id="embark" class="hidden" href="{{ embarkBackUrl }}">&laquo; Back to EMBArk</a> <!-- nosem -->
      <a class="backButton" href="./../index.html">&laquo; Back to main</a>
<a class="modul" href="./../s24_kernel_bin_identifier.html" title="./../s24_kernel_bin_identifier.html" >&laquo; Back to s24_kernel_bin_identifier</a>
      <!-- navigation start -->
      <!-- navigation end -->
      <input id="expand" class="expand_njs hidden" type="button" value="More results:" onclick="this.value=this.value=='+ Show more results'?'- Hide more results':'+ Show more results';">
      <div class="expand_area">
        <!-- etc start -->
        <!-- etc end -->
      </div>
  </div>
  <a href="TIMELINK"><div id="buttonTimeInvisible" class="rectButton"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="40" height="40" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd" stroke="white" stroke-linecap="round" stroke-linejoin="round" transform="matrix(-1 0 0 1 19 2)"><circle cx="8.5" cy="8.5" r="8"/><path d="M8.5 5.5v4H5"/></g></svg></div></a>
  <div id="buttonSizer" class="rectButton buttonClose" onclick="buttonNav()"></div>
</div>
<div id="main" class="main">
  <!-- content start -->
<pre>[+] Kconfig file to check: /logs/s24_kernel_bin_identifier/kernel_config_extracted_gzip.uncompressed.log</pre>
<pre>[+] Detected microarchitecture: ARM</pre>
<pre>[+] Detected kernel version: 4.4</pre>
<pre>[-] Can't detect the compiler: no CONFIG_GCC_VERSION or CONFIG_CLANG_VERSION</pre>
<pre>=========================================================================================================================</pre>
<pre>              option name               | type  |desired val | decision |      reason      | check result</pre>
<pre>=========================================================================================================================</pre>
<pre>CONFIG_BUG                              |kconfig|     y      |defconfig | self_protection  | OK</pre>
<pre>CONFIG_SLUB_DEBUG                       |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_THREAD_INFO_IN_TASK              |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_GCC_PLUGINS                      |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_IOMMU_SUPPORT                    |kconfig|     y      |defconfig | self_protection  | FAIL: "is not set"</pre>
<pre>CONFIG_STACKPROTECTOR                   |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_STACKPROTECTOR_STRONG            |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_STRICT_KERNEL_RWX                |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_STRICT_MODULE_RWX                |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_REFCOUNT_FULL                    |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_VMAP_STACK                       |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_IOMMU_DEFAULT_DMA_STRICT         |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_IOMMU_DEFAULT_PASSTHROUGH        |kconfig| is not set |defconfig | self_protection  | OK: is not found</pre>
<pre>CONFIG_STACKPROTECTOR_PER_TASK          |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_CPU_SW_DOMAIN_PAN                |kconfig|     y      |defconfig | self_protection  | OK</pre>
<pre>CONFIG_HARDEN_BRANCH_PREDICTOR          |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_HARDEN_BRANCH_HISTORY            |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_DEBUG_ALIGN_RODATA               |kconfig|     y      |defconfig | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_BUG_ON_DATA_CORRUPTION           |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_SCHED_STACK_END_CHECK            |kconfig|     y      |   kspp   | self_protection  | FAIL: "is not set"</pre>
<pre>CONFIG_SLAB_FREELIST_HARDENED           |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_SLAB_FREELIST_RANDOM             |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_SHUFFLE_PAGE_ALLOCATOR           |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_FORTIFY_SOURCE                   |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_DEBUG_LIST                       |kconfig|     y      |   kspp   | self_protection  | FAIL: "is not set"</pre>
<pre>CONFIG_DEBUG_VIRTUAL                    |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_DEBUG_SG                         |kconfig|     y      |   kspp   | self_protection  | FAIL: "is not set"</pre>
<pre>CONFIG_DEBUG_CREDENTIALS                |kconfig|     y      |   kspp   | self_protection  | FAIL: "is not set"</pre>
<pre>CONFIG_DEBUG_NOTIFIERS                  |kconfig|     y      |   kspp   | self_protection  | FAIL: "is not set"</pre>
<pre>CONFIG_INIT_ON_ALLOC_DEFAULT_ON         |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_KFENCE                           |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_ZERO_CALL_USED_REGS              |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_HW_RANDOM_TPM                    |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_STATIC_USERMODEHELPER            |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_RANDSTRUCT_FULL                  |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_RANDSTRUCT_PERFORMANCE           |kconfig| is not set |   kspp   | self_protection  | FAIL: CONFIG_RANDSTRUCT_FULL is not "y"</pre>
<pre>CONFIG_HARDENED_USERCOPY                |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_HARDENED_USERCOPY_FALLBACK       |kconfig| is not set |   kspp   | self_protection  | FAIL: CONFIG_HARDENED_USERCOPY is not "y"</pre>
<pre>CONFIG_HARDENED_USERCOPY_PAGESPAN       |kconfig| is not set |   kspp   | self_protection  | FAIL: CONFIG_HARDENED_USERCOPY is not "y"</pre>
<pre>CONFIG_GCC_PLUGIN_LATENT_ENTROPY        |kconfig|     y      |   kspp   | self_protection  | FAIL: CONFIG_GCC_PLUGINS is not "y"</pre>
<pre>CONFIG_MODULE_SIG                       |kconfig|     y      |   kspp   | self_protection  | FAIL: "is not set"</pre>
<pre>CONFIG_MODULE_SIG_ALL                   |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_MODULE_SIG_SHA512                |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_MODULE_SIG_FORCE                 |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_INIT_STACK_ALL_ZERO              |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_INIT_ON_FREE_DEFAULT_ON          |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_EFI_DISABLE_PCI_DMA              |kconfig|     y      |   kspp   | self_protection  | OK: CONFIG_EFI is not found</pre>
<pre>CONFIG_RESET_ATTACK_MITIGATION          |kconfig|     y      |   kspp   | self_protection  | OK: CONFIG_EFI is not found</pre>
<pre>CONFIG_UBSAN_BOUNDS                     |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_UBSAN_LOCAL_BOUNDS               |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_UBSAN_TRAP                       |kconfig|     y      |   kspp   | self_protection  | FAIL: CONFIG_UBSAN_BOUNDS is not "y"</pre>
<pre>CONFIG_DEBUG_WX                         |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_WERROR                           |kconfig|     y      |   kspp   | self_protection  | FAIL: is not found</pre>
<pre>CONFIG_DEFAULT_MMAP_MIN_ADDR            |kconfig|   32768    |   kspp   | self_protection  | FAIL: "4096"</pre>
<pre>CONFIG_SYN_COOKIES                      |kconfig|     y      |   kspp   | self_protection  | OK</pre>
<pre>CONFIG_SLAB_MERGE_DEFAULT               |kconfig| is not set |  clipos  | self_protection  | OK: is not found</pre>
<pre>CONFIG_SECURITY                         |kconfig|     y      |   kspp   | security_policy  | OK</pre>
<pre>CONFIG_SECURITY_YAMA                    |kconfig|     y      |   kspp   | security_policy  | FAIL: "is not set"</pre>
<pre>CONFIG_SECURITY_LANDLOCK                |kconfig|     y      |   kspp   | security_policy  | FAIL: is not found</pre>
<pre>CONFIG_SECURITY_SELINUX_DISABLE         |kconfig| is not set |   kspp   | security_policy  | OK: is not found</pre>
<pre>CONFIG_SECURITY_SELINUX_BOOTPARAM       |kconfig| is not set |   kspp   | security_policy  | OK: is not found</pre>
<pre>CONFIG_SECURITY_SELINUX_DEVELOP         |kconfig| is not set |   kspp   | security_policy  | OK: is not found</pre>
<pre>CONFIG_SECURITY_LOCKDOWN_LSM            |kconfig|     y      |   kspp   | security_policy  | FAIL: is not found</pre>
<pre>CONFIG_SECURITY_LOCKDOWN_LSM_EARLY      |kconfig|     y      |   kspp   | security_policy  | FAIL: is not found</pre>
<pre>CONFIG_LOCK_DOWN_KERNEL_FORCE_CONFIDENTIALITY|kconfig|     y      |   kspp   | security_policy  | FAIL: is not found</pre>
<pre>CONFIG_SECURITY_WRITABLE_HOOKS          |kconfig| is not set |   kspp   | security_policy  | OK: is not found</pre>
<pre>CONFIG_SECURITY_SELINUX                 |kconfig|     y      |    my    | security_policy  | FAIL: is not found</pre>
<pre>CONFIG_SECCOMP                          |kconfig|     y      |defconfig |cut_attack_surface| FAIL: "is not set"</pre>
<pre>CONFIG_SECCOMP_FILTER                   |kconfig|     y      |defconfig |cut_attack_surface| FAIL: is not found</pre>
<pre>CONFIG_BPF_UNPRIV_DEFAULT_OFF           |kconfig|     y      |defconfig |cut_attack_surface| OK: CONFIG_BPF_SYSCALL is "is not set"</pre>
<pre>CONFIG_SECURITY_DMESG_RESTRICT          |kconfig|     y      |   kspp   |cut_attack_surface| FAIL: "is not set"</pre>
<pre>CONFIG_ACPI_CUSTOM_METHOD               |kconfig| is not set |   kspp   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_COMPAT_BRK                       |kconfig| is not set |   kspp   |cut_attack_surface| OK</pre>
<pre>CONFIG_DEVKMEM                          |kconfig| is not set |   kspp   |cut_attack_surface| OK</pre>
<pre>CONFIG_BINFMT_MISC                      |kconfig| is not set |   kspp   |cut_attack_surface| OK</pre>
<pre>CONFIG_INET_DIAG                        |kconfig| is not set |   kspp   |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_KEXEC                            |kconfig| is not set |   kspp   |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_PROC_KCORE                       |kconfig| is not set |   kspp   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_LEGACY_PTYS                      |kconfig| is not set |   kspp   |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_HIBERNATION                      |kconfig| is not set |   kspp   |cut_attack_surface| OK</pre>
<pre>CONFIG_COMPAT                           |kconfig| is not set |   kspp   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_IA32_EMULATION                   |kconfig| is not set |   kspp   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_X86_X32                          |kconfig| is not set |   kspp   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_X86_X32_ABI                      |kconfig| is not set |   kspp   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_MODIFY_LDT_SYSCALL               |kconfig| is not set |   kspp   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_OABI_COMPAT                      |kconfig| is not set |   kspp   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_X86_MSR                          |kconfig| is not set |   kspp   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_MODULES                          |kconfig| is not set |   kspp   |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_DEVMEM                           |kconfig| is not set |   kspp   |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_IO_STRICT_DEVMEM                 |kconfig|     y      |   kspp   |cut_attack_surface| FAIL: is not found</pre>
<pre>CONFIG_LDISC_AUTOLOAD                   |kconfig| is not set |   kspp   |cut_attack_surface| FAIL: CONFIG_LDISC_AUTOLOAD is not present</pre>
<pre>CONFIG_STRICT_DEVMEM                    |kconfig|     y      |   kspp   |cut_attack_surface| FAIL: "is not set"</pre>
<pre>CONFIG_ZSMALLOC_STAT                    |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_PAGE_OWNER                       |kconfig| is not set |  grsec   |cut_attack_surface| OK</pre>
<pre>CONFIG_DEBUG_KMEMLEAK                   |kconfig| is not set |  grsec   |cut_attack_surface| OK</pre>
<pre>CONFIG_BINFMT_AOUT                      |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_KPROBE_EVENTS                    |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_UPROBE_EVENTS                    |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_GENERIC_TRACER                   |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_FUNCTION_TRACER                  |kconfig| is not set |  grsec   |cut_attack_surface| OK</pre>
<pre>CONFIG_STACK_TRACER                     |kconfig| is not set |  grsec   |cut_attack_surface| OK</pre>
<pre>CONFIG_HIST_TRIGGERS                    |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_BLK_DEV_IO_TRACE                 |kconfig| is not set |  grsec   |cut_attack_surface| OK</pre>
<pre>CONFIG_PROC_VMCORE                      |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_PROC_PAGE_MONITOR                |kconfig| is not set |  grsec   |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_USELIB                           |kconfig| is not set |  grsec   |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_CHECKPOINT_RESTORE               |kconfig| is not set |  grsec   |cut_attack_surface| OK</pre>
<pre>CONFIG_USERFAULTFD                      |kconfig| is not set |  grsec   |cut_attack_surface| OK</pre>
<pre>CONFIG_HWPOISON_INJECT                  |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_MEM_SOFT_DIRTY                   |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_DEVPORT                          |kconfig| is not set |  grsec   |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_DEBUG_FS                         |kconfig| is not set |  grsec   |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_NOTIFIER_ERROR_INJECTION         |kconfig| is not set |  grsec   |cut_attack_surface| OK</pre>
<pre>CONFIG_FAIL_FUTEX                       |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_PUNIT_ATOM_DEBUG                 |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_ACPI_CONFIGFS                    |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_EDAC_DEBUG                       |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_DRM_I915_DEBUG                   |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_BCACHE_CLOSURES_DEBUG            |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_DVB_C8SECTPFE                    |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_MTD_SLRAM                        |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_MTD_PHRAM                        |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_IO_URING                         |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_KCMP                             |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_RSEQ                             |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_LATENCYTOP                       |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_KCOV                             |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_PROVIDE_OHCI1394_DMA_INIT        |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_SUNRPC_DEBUG                     |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_PTDUMP_DEBUGFS                   |kconfig| is not set |  grsec   |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_DRM_LEGACY                       |kconfig| is not set |maintainer|cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_FB                               |kconfig| is not set |maintainer|cut_attack_surface| OK</pre>
<pre>CONFIG_VT                               |kconfig| is not set |maintainer|cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_BLK_DEV_FD                       |kconfig| is not set |maintainer|cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_BLK_DEV_FD_RAWCMD                |kconfig| is not set |maintainer|cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_NOUVEAU_LEGACY_CTX_SUPPORT       |kconfig| is not set |maintainer|cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_STAGING                          |kconfig| is not set |  clipos  |cut_attack_surface| OK</pre>
<pre>CONFIG_KSM                              |kconfig| is not set |  clipos  |cut_attack_surface| OK</pre>
<pre>CONFIG_KALLSYMS                         |kconfig| is not set |  clipos  |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_MAGIC_SYSRQ                      |kconfig| is not set |  clipos  |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_KEXEC_FILE                       |kconfig| is not set |  clipos  |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_USER_NS                          |kconfig| is not set |  clipos  |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_X86_CPUID                        |kconfig| is not set |  clipos  |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_X86_IOPL_IOPERM                  |kconfig| is not set |  clipos  |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_ACPI_TABLE_UPGRADE               |kconfig| is not set |  clipos  |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_EFI_CUSTOM_SSDT_OVERLAYS         |kconfig| is not set |  clipos  |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_COREDUMP                         |kconfig| is not set |  clipos  |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_EFI_TEST                         |kconfig| is not set | lockdown |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_MMIOTRACE_TEST                   |kconfig| is not set | lockdown |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_KPROBES                          |kconfig| is not set | lockdown |cut_attack_surface| OK</pre>
<pre>CONFIG_BPF_SYSCALL                      |kconfig| is not set | lockdown |cut_attack_surface| OK</pre>
<pre>CONFIG_LEGACY_TIOCSTI                   |kconfig| is not set |    my    |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_MMIOTRACE                        |kconfig| is not set |    my    |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_LIVEPATCH                        |kconfig| is not set |    my    |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_IP_DCCP                          |kconfig| is not set |    my    |cut_attack_surface| OK</pre>
<pre>CONFIG_IP_SCTP                          |kconfig| is not set |    my    |cut_attack_surface| OK</pre>
<pre>CONFIG_FTRACE                           |kconfig| is not set |    my    |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_VIDEO_VIVID                      |kconfig| is not set |    my    |cut_attack_surface| OK: is not found</pre>
<pre>CONFIG_INPUT_EVBUG                      |kconfig| is not set |    my    |cut_attack_surface| OK</pre>
<pre>CONFIG_KGDB                             |kconfig| is not set |    my    |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_AIO                              |kconfig| is not set |    my    |cut_attack_surface| FAIL: "y"</pre>
<pre>CONFIG_CORESIGHT                        |kconfig| is not set |    my    |cut_attack_surface| OK</pre>
<pre>CONFIG_TRIM_UNUSED_KSYMS                |kconfig|     y      |    my    |cut_attack_surface| FAIL: is not found</pre>
<pre>CONFIG_VMSPLIT_3G                       |kconfig|     y      |defconfig | harden_userspace | FAIL: "is not set"</pre>
<pre>CONFIG_ARCH_MMAP_RND_BITS               |kconfig|     15     |    my    | harden_userspace | FAIL: "8"</pre>
<br />
<pre>[+] Config check is finished: 'OK' - 84 / 'FAIL' - 81</pre>
  <!-- content end -->
</div>

<a href="https://github.com/e-m-b-a/emba" title="github.com/e-m-b-a/emba" target="_blank">
  <div id="buttonInfo" class="rectButtonVisible">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="40" height="40" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd" transform="translate(2 2)"><g stroke="white" stroke-linecap="round" stroke-linejoin="round"><circle cx="8.5" cy="8.5" r="8"/><path d="M8.5 12.5v-4h-1"/><path d="M7.5 12.5h2"/></g><circle cx="8.5" cy="5.5" fill="white" r="1"/></g></svg>
  </div>
</a>
<div id="buttonBack" class="nonClickable rectButtonVisible"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="40" height="40" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"><path d="M9.5 14.5l4-4l-4-4" fill="none" stroke="#444" stroke-linecap="round" stroke-linejoin="round"/></svg></div>
<div id="buttonForward" class="nonClickable rectButtonVisible"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="40" height="40" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"><path d="M11.5 14.5l-4-4l4-4" fill="none" stroke="#444" stroke-linecap="round" stroke-linejoin="round"/></svg></div> 
<div id="buttonDown" class="rectButton" onclick="scrollDown()"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="40" height="40" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"><path d="M14.5 6.5l-4 4l-4-4"/><path d="M14.5 10.5l-4 4l-4-4"/></g></svg></div>
<div id="buttonUp" class="rectButton" onclick="scrollUp()"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="40" height="40" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"><path d="M6.5 14.5l4-4l4 4"/><path d="M6.5 10.5l4-4l4 4"/></g></svg></div> 

<script>
window.onload = function () {
  var buttons = document.getElementsByClassName("rectButton");
  for (let i=0; i<buttons.length; i++) {
    buttons[i].style.visibility = "visible";
  }
  var buttonDown = document.getElementById("buttonDown");
  buttonDown.classList.add('rectButtonVisible');
  buttonDown.classList.remove('rectButton');

  var buttonUp = document.getElementById("buttonUp");
  buttonUp.classList.add('rectButtonVisible');
  buttonUp.classList.remove('rectButton');
    
  var buttonSizer = document.getElementById("buttonSizer");
  buttonSizer.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="40" height="40" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd" stroke="white" stroke-linecap="round" stroke-linejoin="round"><path d="M9.5 16.5v-4.978l-5-.022"/><path d="M18.5 2.5l-7 7"/><path d="M16.5 9.5l-5 .023V4.5"/><path d="M9.5 11.5l-7 7"/></g></svg>';
  if (document.getElementById("buttonTime") !== null) {
    var buttonTime = document.getElementById("buttonTime");
    buttonTime.style.bottom = "50px";
  }
  document.getElementById("expand").value = "+ Show more results";
  document.getElementById("expand").className += " expand";
  var embarkButton = document.getElementById("embark");
  if ( !(embarkButton.href.includes("embarkBackUrl")) ) {
    embarkButton.classList.remove('hidden');
    document.getElementById("logoImage").src = "./../style/embark.svg";
    document.getElementById("logo").style.background = "#2d2d2d";
  }
}

function openNav() {
  document.getElementById("sidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.getElementById("nav").style.visibility = "visible";
}

function closeNav() {
  document.getElementById("sidenav").style.width = "50px";
  document.getElementById("sidenav").scrollTop = 0;
  document.getElementById("main").style.marginLeft = "50px";
  document.getElementById("nav").style.visibility = "hidden";
}

function scrollDown() {
  window.scrollTo(0,document.body.scrollHeight);
}

function scrollUp() {
  window.scrollTo(0,0);
}

function buttonNav() {
  var button = document.getElementById("buttonSizer");
  if ( button.classList.contains('buttonOpen') ) {
    button.classList.remove('buttonOpen');
    button.classList.add('buttonClose');
    button.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="40" height="40" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd" stroke="white" stroke-linecap="round" stroke-linejoin="round"><path d="M9.5 16.5v-4.978l-5-.022"/><path d="M18.5 2.5l-7 7"/><path d="M16.5 9.5l-5 .023V4.5"/><path d="M9.5 11.5l-7 7"/></g></svg>';
    openNav();
  } else if( button.classList.contains('buttonClose') ) {
    button.classList.remove('buttonClose');
    button.classList.add('buttonOpen');
    button.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="40" height="40" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd" stroke="white" stroke-linecap="round" stroke-linejoin="round"><path d="M18.5 7.5v-5h-5"/><path d="M18.5 2.5l-6 5.929"/><path d="M7.5 18.5l-5 .023V13.5"/><path d="M8.5 12.5l-6 6"/></g></svg>';
    closeNav();
  };
}

document.onkeydown = function(e) {
    switch (e.keyCode) {
      case 37:
        document.getElementById("buttonForward").parentNode.click(); 
        break;
      case 39:
        document.getElementById("buttonBack").parentNode.click();       
        break;
    }
};
</script>

</body>
</html>
